@syntax-text-color: #e9edf5;
@syntax-cursor-color: #dbdbdb;
@syntax-selection-color: #374c60;
@syntax-background-color: #000000;

@syntax-wrap-guide-color: rgba(32, 32, 32, 0.8);
@syntax-indent-guide-color: rgba(32, 32, 32, 0.8);
@syntax-invisible-character-color: rgba(32, 32, 32, 0.8);

@syntax-result-marker-color: #bfbfbf;
@syntax-result-marker-color-selected: #e9edf5;

@syntax-gutter-text-color: #e9edf5;
@syntax-gutter-text-color-selected: #e9edf5;
@syntax-gutter-background-color: #000000;
@syntax-gutter-background-color-selected: #282829;

@syntax-color-renamed: #96CBFE;
@syntax-color-added: #A8FF60;
@syntax-color-modified: #E9C062;
@syntax-color-removed: #CC6666;

@font-weight-regular: 400;
@font-weight-bold: 700;

@white: #FFF;
@orange: #FFBD2A;
@red: #F36F69;

@spooki-warning-color: mix(@orange, @white, 35%);
@spooki-error-color: mix(@red, @white, 35%);

.error() {
    background-color: @spooki-error-color;
}
.warning() {
    background-color: @spooki-warning-color;
}
